<!DOCTYPE html>
<html>
  <head>
    <title>Climblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <%= user_signed_in? ? link_to('ClimbLog', authenticated_root_path) : link_to('ClimbLog', root_path) %>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#appNavbar' aria-controls='appNavbar' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='appNavbar'>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item active'>
            <a class='nav-link' href='#'>Link 1 <span class='sr-only'>(current)</span></a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#'>Link 2</a>
          </li>
        </ul>
        <ul class='navbar-nav ml-auto'>
          <li class='nav-item'>
            <%= user_signed_in? ? link_to('Sign out', destroy_user_session_path, class: 'nav-link', method: :delete) : link_to('Sign up', new_user_registration_path, class: 'nav-link') %>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
